.carousel__block {
    padding-top: 11px;
    padding-bottom: 42px;
    background-color: #F7F7F7;
}

.my-carousel {
    display: flex;
    max-height: 770px;
}

.carousel-img {
    object-fit: contain;
    height: 100%;
}

.btn-prev {
    display: flex;
    justify-content: flex-start;
}

.btn-next {
    display: flex;
    justify-content: flex-end;
}

.btn-prev {
    display: flex;
    justify-content: flex-start;
}

.carousel__icon {
    background-color: darkgray;
    @include widthAndHeight(45px, 45px);
    border-radius: 10px;
}