.comments__background {
    background-image: url(img/subscribe__background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.comment__glow {
    min-height: 448px;
    background-color: rgba(244, 244, 244, 0.6);
    padding-top: 97px;
    padding-bottom: 126px;
    box-sizing: border-box;
}

.comment__parent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user {
    text-align: center;
    max-width: 360px;
}

.comment__text {
    margin-top: 30px;
    @include fontStyle(24px, 20px, 400);
}

.italic__comment {
    font-style: italic;
}

.subscribe__info {
    text-align: center;
    align-self: flex-end;
}

.subscribe__text-block {
    margin-bottom: 32px;
}

.subscribe__title {
    @include fontStyle(40px, 24px, 700);
}

.subscribe__text {
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    @include fontStyle(30px, 18px, 400);
}

.subscribe {
    display: flex;
}

.email {
    padding: 10px 20px;
    box-sizing: border-box;
    flex-grow: 1;
    @include fontStyle(16px, 14px, 400);
    border-radius: 20px 0 0 20px;
    border: none;
    background-color: #E1E1E1;
    color: #222224;
}

.form__btn {
    padding: 10px 10px;
    border-radius: 0 20px 20px 0;
    border: none;
    background-color: #F16D7F;
    color: #FFFFFF;
    @include fontStyle(16px, 14px, 400);
}