.nav__bar {
    background-color: #F8F3F4;
}

.nav__bar-descr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

.nav__bar-title {
    @include fontStyle(28px, 24px, 400);
    color: $redText;
}

.bread__crumbs-list {
    display: flex;
    gap: 5px;
}

.bread__crumbs-item:not(:last-child):after {
    content: '/';
    margin-left: 5px;
}

.bread__crumbs-link {
    @include fontStyle(16px, 14px, 300);
    color: $grayLight;
}

.active__link {
    @include fontStyle(16px, 14px, 700);
    color: $redText;
}