.promo {
    display: flex;
    background-color: #F1E4E6;
    min-height: 764px;
}

.poster {
    background-image: url('../img/poster.png');
    background-position-x: right;
    background-repeat: no-repeat;
}

.poster, .promo__right {
    width: 50%;
}

.promo__right {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 63px;
}

.promo__description {
    border-left: 12px solid #F16D7F;
    min-height: 93px;
    max-width: 405px;
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    justify-content: space-between;
}

.promo__title {
    font-size: 48px;
    font-weight: 900;
    line-height: 35px;
}

.promo__text {
    font-size: 32px;
    font-weight: 700;
    line-height: 25px;
}